 <p><%= "こんにちは、" %> <%= @resource.name %> 様！</p>

 <p><%= "パスワードの変更を受け付けました。以下のリンクから変更できます。" %></p>

<% if ENV["RAILS_ENV"] == "production" %>
  <p><%= link_to "パスワードを変更する",  "http://pawhant.com/customers/password/edit?reset_password_token=#{@token}" %></p>
<% else %>
  <p><%= link_to "パスワードを変更する", edit_password_url(@resource, :reset_password_token => @token ) %></p>
<% end %>
 
 
 <p><%= "※リンクの有効期限は1時間です。" %></p>

 <p><%= "※パスワードリセットの申請に心当たりがない場合は、以降の対応は不要となります。" %></p>
 <p><%= "※上記リンクをクリックして新しいパスワードを作成しない限り、パスワードは変更されません。" %></p>