<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">管理者ログイン</h5>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-group mb-3">
          <%= f.text_field :email, autofocus: true, class:"form-control", id:"inputName", placeholder:"Email"%>
        </div>
        <div class="input-group mb-3">
           <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
        </div>
        <%= f.submit "ログイン", class:"btn btn-block btn-secondary mt-5" %>
      <% end %>
      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>