<div class="container">
  <div class="row">
    <div class="col mb-5">
      <% @entries.each do |e| %>
        <% if @myCustomerId != e.customer.id %>
          <h2><%= e.customer.name %>さんとのトークルーム</h2>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-8">
      <div class="container">
        <div class="row">
          <% if @messages.present? %>
            <% @messages.each do |m| %>
              <% if @myCustomerId == m.customer.id %>
                <div class="col-12">
                  <div class="message-content d-flex justify-content-end">
                    <p class="message-text p-2 bg-light text-dark text-right d-inline-block"><%= m.message %></p>
                  </div>
                </div>
              <% else %>
                <div class="col-12">
                  <div class="message-content">
                    <p class="message-name mb-1"><%= m.customer.name %></p>
                    <p class="message-text p-2 bg-warning text-dark d-inline-block"><%= m.message %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= form_with model: @message do |f| %>
        <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 50, class:"form-control" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "投稿", class: 'btn btn-outline-secondary mt-2'%>
      <% end %>
    </div>
  </div>
</div>