<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <h4 class="my-4 ml-5">会員一覧</h4>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-sm-8 my-3">
          <div class="table-responsive">
            <table class='table table-hover table-sm'>
              <tr class="bg-light">
                <th style="width: 10%">会員ID</th>
                <th style="width: 20%">氏名</th>
                <th style="width: 30%">メールアドレス</th>
                <th style="width: 20%">ステータス</th>
                <th style="width: 20%">通報された回数</th>
              </tr>
              <% @customers.each do |customer| %>
                <tr>
                  <td><%= customer.id %></td>
                  <td><%= link_to customer.name, admin_customer_path(customer.id), class:"link-order-customer" %></td>
                  <td><%= customer.email %></td>
                  <td>
                    <% if customer.active == true %>
                        <p>有効</p>
                    <% else %>
                        <p class="text-danger">アカウント停止</p>
                    <% end %>
                  </td>
                    <td><%= customer.reported_count %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
     <div class="mx-auto">
      <%= paginate @customers %>
    </div>
  </div>
</div>
