<div class="col-md-3 col-sm-6 my-3">
  <div class="card mx-auto" style="width: 17rem;">
    <%= link_to pet_post_path(pet_post.id) do %>
      <%= image_tag pet_post.get_image(500, 500), class: "card-img-top img-fluid", style: "object-fit: cover; height: 280px;" %>
    <% end %>
    <div class="card-body">
      <div class="card-text" style="height: 200px;">
      <% if customer_signed_in? %>
        <% if pet_post.favorited_by?(current_customer) %>
          <%= link_to pet_post_sightings_path(pet_post), method: :delete do %>
            <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
          <% end %>
            <%= pet_post.sightings.count %> 件の目撃
        <% else %>
          <%= link_to pet_post_sightings_path(pet_post), method: :post do %>
            <i class="fas fa-heart" aria-hidden="true" style="color: grey;"></i>
          <% end %>
            <%= pet_post.sightings.count %> 件の目撃
        <% end %>
        <p><%= link_to "#{pet_post.comments.count} 件のコメント", pet_post_path(pet_post.id) %></p>
      <% else %>
        <%= pet_post.sightings.count %> 件の目撃
        <p><%= "#{pet_post.comments.count} 件のコメント" %></p>
      <% end %>
        <div style="height: 100px;">
          <div style="height: 60px;">
          <p>場所 :  <b><%= pet_post.prefecture %><%= pet_post.area %>付近</b></p>
          </div>
          <p><% pet_post.tags.each do |tag|%>
               <%= link_to "##{tag.tag_name}", tag_search_pet_post_path(pet_post, tag) %>
             <% end %>
          </p>

        </div>
        <%= link_to pet_post_path(pet_post.id), class: "btn btn-warning" do %>
          詳細を見る
        <% end %>
      </div>
      <div class="card-footer mt-2">
        <h6>発生日 :<%= pet_post.occurred_on %></h6>
      </div>
    </div>
  </div>
</div>
