<% if customer.customer_pets.any? %>
  <h2>ペット情報</h2>
    <table class="table table-bordered">
    <tr>
      <td class="bg-light">ペットの種類</td>
      <td><%= customer.customer_pets.species %></td>
    </tr>
    <tr>
      <td class="bg-light">ペットの名前</td>
      <td><%= customer.customer_pets.name %></td>
    </tr>
    <tr>
      <td class="bg-light">性別</td>
      <td><%= customer.customer_pets.gender %></td>
    </tr>
    <tr>
      <td class="bg-light">年齢</td>
      <td><%= customer.customer_pets.age %></td>
    </tr>
    <tr>
      <td class="bg-light">体重</td>
      <td><%= customer.customer_pets.weight %></td>
    </tr>
    <tr>
      <td class="bg-light">特徴</td>
      <td><%= customer.customer_pets.characteristics %></td>
    </tr>
  </table>
<% else %>
  <!-- ペット情報が登録されていない場合の表示 -->
  <h4 class="my-4">ペット情報はまだ登録されていません。</h4>
  <%= link_to "ペットを登録する", new_customers_pet_path, class: "btn btn-outline-warning" %>
<% end %>



