<div class="form-group">
  <%= f.label :image, "ペット画像" %>
  <%= f.file_field :image, accept: "image/*", class: "form-control-file" %>
</div>
<div class="form-group">
  <%= f.label :name, "ペットの名前" %>
  <%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :species, "ペットの種類" %>
  <div class="form-check">
    <%= f.radio_button :species, 'dog', id: "dog_radio", class: "form-check-input" %>
    <%= f.label :犬, for: "dog_radio", class: "form-check-label" %>
  </div>
  <div class="form-check">
    <%= f.radio_button :species, 'cat', id: "cat_radio", class: "form-check-input" %>
    <%= f.label :猫, for: "cat_radio", class: "form-check-label" %>
  </div>
  <div class="form-check">
    <%= f.radio_button :species, 'bird', id: "bird_radio", class: "form-check-input" %>
    <%= f.label :鳥, for: "bird_radio", class: "form-check-label" %>
  </div>
  <div class="form-check">
    <%= f.radio_button :species, 'other', id: "other_radio", class: "form-check-input" %>
    <%= f.label :その他, for: "other_radio", class: "form-check-label" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :gender, "ペットの性別" %>
  <div class="form-check">
    <%= f.radio_button :gender, 'male', id: "male_radio", class: "form-check-input" %>
    <%= f.label :オス, for: "male_radio", class: "form-check-label" %>
  </div>
  <div class="form-check">
    <%= f.radio_button :gender, 'female', id: "female_radio", class: "form-check-input" %>
    <%= f.label :メス, for: "female_radio", class: "form-check-label" %>
  </div>
  <div class="form-check">
    <%= f.radio_button :gender, 'unknown', id: "unknown_radio", class: "form-check-input" %>
    <%= f.label :不明, for: "unknown_radio", class: "form-check-label" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :address, "年齢" %>
  <%= f.text_field :age, class: "form-control", placeholder: "例: 2歳、子犬、成犬、シニア犬" %>
</div>
<div class="form-group">
  <%= f.label :weight, "体重" %>
   <%= f.select :weight, CustomerPet.weights.keys.map { |key| [I18n.t("enums.pet_post.weight.#{key}"), key] }, {}, class: "form-control" %>
</div>
<div class="form-group mb-4">
  <%= f.label :characteristics, "特徴" %>
  <%= f.text_field :characteristics, class: "form-control", placeholder: "毛色、模様、特徴を入力してください" %>
</div>