<% if customer.customer_pets.any? %>
  <div class="d-flex align-items-center">
    <h4>ペット情報</h4>
    <% if current_customer == customer %>
      <%= link_to "ペット情報を追加する", new_customer_customer_pet_path(customer, customer_pet), class:"btn btn-outline-primary ml-2 mb-2" %>
    <% end %>
  </div>
    <% customer.customer_pets.each do |pet| %>
      <table class="table table-bordered">
      <tr>
        <td class="bg-light">ペットの画像</td>
        <td><%= image_tag pet.get_image(500, 500), style: "object-fit: cover; width: 250px; height: 250px;" %></td>
      </tr>
      <tr>
        <td class="bg-light">ペットの種類</td>
        <td><%= pet.species_i18n %></td>
      </tr>
      <tr>
        <td class="bg-light">ペットの名前</td>
        <td><%= pet.name %></td>
      </tr>
      <tr>
        <td class="bg-light">性別</td>
        <td><%= pet.gender_i18n %></td>
      </tr>
      <tr>
        <td class="bg-light">年齢</td>
        <td><%= pet.age %></td>
      </tr>
      <tr>
        <td class="bg-light">体重</td>
        <td><%= pet.weight_i18n %></td>
      </tr>
      <tr>
        <td class="bg-light">特徴</td>
        <td><%= pet.characteristics %></td>
      </tr>
    <% if current_customer == customer %>
      <tr>
      <td></td>
      <td><%= link_to "編集する", edit_customer_customer_pet_path(customer, pet), class: "btn btn-outline-secondary mx-3" %>
      <%= link_to "削除", customer_customer_pet_path(customer, pet), data: { confirm: "本当に削除しますか？" }, method: :delete, class:"btn btn-outline-danger pt-2" %>
      </tr>
    <% end %>
   </table>
  <% end %>
<% else %>
  <!-- ペット情報が登録されていない場合の表示 -->
  <div class="d-flex flex-column align-items-center justify-content-center" style="height: 60vh;">
    <h4>ペット情報はまだ登録されていません。</h4>
    <% if current_customer == customer %>
      <%= link_to "ペットを登録する", new_customer_customer_pet_path(customer, customer_pet), class: "btn btn-outline-primary mt-3" %>
    <% end %>
  </div>
<% end %>