<div class="form-group">
  <%= f.label :pet_status, "ペット状況" %>
  <div class="form-check">
    <%= f.radio_button :pet_status_eq, 1 %> <%= f.label :pet_status_eq, "迷子", value: 1 %><br>
    <%= f.radio_button :pet_status_eq, 2 %> <%= f.label :pet_status_eq, "保護", value: 2 %>
  </div>
</div>
<div class="form-group">
  <%= f.label :pet_status, "ペットの種類" %>
  <div class="form-check">
    <%= f.radio_button :species_eq, 0 %> <%= f.label :species_eq, "犬", value: 0 %><br>
    <%= f.radio_button :species_eq, 1 %> <%= f.label :species_eq, "猫", value: 1 %><br>
    <%= f.radio_button :species_eq, 2%> <%= f.label :species_eq, "鳥", value: 2 %><br>
    <%= f.radio_button :species_eq, 3%> <%= f.label :species_eq, "その他", value: 3 %>
  </div>
</div>
<div class="form-group">
  <%= f.label :gender, "性別" %>
  <div class="form-check">
    <%= f.radio_button :gender_eq, 0 %> <%= f.label :gender_eq, "オス", value: 0 %><br>
    <%= f.radio_button :gender_eq, 1 %> <%= f.label :gender_eq, "メス", value: 1 %><br>
    <%= f.radio_button :gender_eq, 2 %> <%= f.label :gender_eq, "不明", value: 2 %><br>
  </div>
</div>
<div class="form-group">
  <%= f.label :prefecture, "都道府県" %>
  <%= f.select :prefecture_eq, prefecture_options, { prompt: "選択してください" }, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :area, "詳細住所(キーワード検索)" %>
  <%= f.search_field :area_cont, class: "form-control", placeholder: "エリアのキーワードを入力。例:大宮" %>
</div>
<div class="form-group mb-4">
    <%= label_tag :occurred_on, "発生日範囲を選択" %>
    <div class="form-inline">
      <%= f.date_field :occurred_on_gteq, class: "form-control", style: "width: 300px;" %>
      <span>〜</span>
      <%= f.date_field :occurred_on_lteq, class: "form-control", style: "width: 300px;" %>
    </div>
</div>