<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center rounded px-0 my-5">
       <p class="text-dark py-3 mb-0">ゲストログインの方はこちらを押してください</hp>
        <%= link_to "ゲストログイン", customers_guest_sign_in_path, class:"btn btn-block btn-warning mt-3 mb-5", method: :post %>
        <h5 class="text-dark bg-light py-4 mt-1 mb-0">ユーザーログイン</h5>
        <div class="form-body p-4">
          <div class="mx-auto text-center">
            <p>メールアドレスと<br>パスワードを入力してください。</p>
          </div>
          <%= form_with model: @customer, url: customer_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
            <div class="input-group mb-3">
              <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName", placeholder:"名前"%>
            </div>
            <div class="input-group mb-3">
              <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"メールアドレス" %>
            </div>
            <div class="input-group mb-3">
              <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
            </div>
            <div class="input-group mb-3">
              <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword", placeholder:"パスワード確認" %>
            </div>
            <%= f.submit "ログイン", class:"btn btn-block btn-outline-secondary mt-5" %>
          <% end %>
           <div class="pt-5">
          新規登録の方は<%= render "public/shared/links" %>から新規登録してください。<br>
          </div>
          <div class="pt-5">
          パスワードを忘れた方は<%= link_to "こちら", new_customer_password_path %>から再登録してください<br>
          </div>
      </div>
    </div>
  </div>
</div>