<nav class="navbar navbar-expand-lg py-4 navbar-light">
  <div class = "container-fluid border-bottom">
    <% if customer_signed_in? %>
      <%= link_to root_path, class: "mx-0" do %>
        <%= image_tag "logo.png", alt: "LOGO", size: "280x80" %>
      <% end %>
    <% elsif admin_signed_in? %>
      <%= link_to admin_root_path, class: "mx-0" do %>
        <%= image_tag "logo.png", alt: "LOGO", size: "280x80" %>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "mx-0" do %>
        <%= image_tag "logo.png", alt: "LOGO", size: "280x80" %>
      <% end %>
    <% end %>
    <div class="d-flex flex-column ml-auto" >
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
            <li class="nav-item ml-auto"><%= link_to "迷子・保護情報を登録", new_pet_post_path, class:"btn btn-danger" %></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn btn-light ml-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ペット情報一覧
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="<%= root_path %>">迷子情報一覧</a>
                <a class="dropdown-item" href="<%= pet_posts_path %>">保護情報一覧</a>
              </div>
            </li>
            <li class="nav-item"><%= link_to "グループ一覧", groups_path, class: "btn btn-light nav-link ml-2" %></li>
            <li class="nav-item"><%= link_to "マイページ", customer_path(current_customer.id), class: "btn btn-light nav-link ml-2" %></li>
            <li class="nav-item"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-light nav-link ml-2" %></li>
            <li class="nav-item"><%= link_to notifications_path, class: "nav-link" do %>
              <% if current_customer.notifications.where(read: false).exists? %>
                <i class="fa-sharp fa-solid fa-bell fa-beat" style="color: #f2ee7d;"></i>
              <% else %>
                <i class="fa-sharp fa-solid fa-bell"></i>
              <% end %>
            <% end %>
            </li>
            <%= render 'layouts/search_form' %>
          <% elsif admin_signed_in? %>
            <li class="nav-item"><%= link_to "顧客一覧", admin_customers_path, class: "btn btn-light nav-link ml-2" %></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ペット情報一覧
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="<%= admin_root_path %>">迷子情報一覧</a>
                <a class="dropdown-item" href="<%= admin_pet_posts_path %>">保護情報一覧</a>
              </div>
            </li>
            <li class="nav-item"><%= link_to "グループ一覧", admin_groups_path, class: "btn btn-light nav-link ml-2" %></li>
            <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-light nav-link ml-2" %></li>
          <% else %>
            <li class="nav-item"><%= link_to "ログイン", new_customer_session_path, class: "btn btn-light nav-link ml-2" %></li>
            <li class="nav-item"> <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-light nav-link ml-2" %></li>
            <li class="nav-item"> <%= link_to "About", about_path, class: "btn btn-light nav-link ml-2" %></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ペット情報一覧
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="<%= root_path %>">迷子情報一覧</a>
                <a class="dropdown-item" href="<%= pet_posts_path %>">保護情報一覧</a>
              </div>
            </li>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>